_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
alchemancer
alchemancer_wiki
assets
blog
cgi-bin
chimpknuckles
merps
myadmin
phpqrcode
port
seo
yourls
node_modules
502.shtml
504.shtml
508.shtml
alchemancer.php
comments.html
fbStyle.css
parking-page.html
php.ini
robots.txt
bower_components
*/.DS_Store
*.map
*.css
